<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
  <a href="/add"></a>
    <div class="parent clearfix">
        <div class="bg-illustration">
          <img src="https://i.ibb.co/Pcg0Pk1/logo.png" alt="logo">
          <h1>Muenfun Boonrueng</h1>
          <h2>1630900619</h2>
    
          <div class="burger-btn">
            <span></span>
            <span></span>
            <span></span>
          </div>
    
        </div>
        
        <div class="login">
          <div class="container">
            <h1>Lottery</h1>
            <div class="login-form">
              <form action="">
                <input type="lottery number" placeholder="Lottery Number" id ="number">
                <input type="day" placeholder="Day">
                <button type="submit" >Check</button>
    
              </form>
            </div>
          </div>
          </div>
          </div>
      </div>
</body>
</html>


